.slider img, 
.slider .default-img {
  height: 528px;
  object-fit: cover;
}

.sub-category-item {
  font-size: 0.85em !important;
  cursor: pointer;
  border-radius: 8px;
  font-weight: 500;
}

.cart-items td {
  vertical-align: middle
}

.cart-items td .quantity {
  text-align: center;
  width: 5rem;
  border-radius: .8rem;
  text-indent: .4rem;
  border: none;
}

.cart-items .shipping-status {
  font-size: 1.5rem;
}

.pointer {
  cursor: pointer;
}